body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.94rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.content-header {
    margin-top: 100px;
}

.submit{
    width: 100%;
    display: block;
    height: 50px;
}
.footer{
    margin-top: 5rem;
}
.coba{
    margin-bottom: 100rem;
}
  
.coba, h2{
    margin-top: 5rem;
    font-size: 20px;
    font-weight: bold;
}
.coba, .coba-des{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.coba, .form-group{
    margin-top: 2rem;
    margin-bottom: 10px;
}
.introo p{
    line-height: 1.17rem;
}
.content {
    min-height: 400px;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .45rem 1.25rem;
    color: inherit;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
    text-align: center;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-right: 17px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.dataTables_scroll {
    border-bottom: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.left {
	text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.title {
    font-size: 25px;
}

.title-icon {
    margin-right: 7px;
}

.border {
    border: 0.5px solid #dee2e6!important;
}

.btn-menu {
    padding-top: 25px;
    padding-bottom: 25px;
}


.mt-5{
    margin-top: 10rem;
}


::-webkit-scrollbar {
    width: 10px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border: 0px none #ffffff;
    border-radius: 0px;
    z-index: 0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #525965;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #525965;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  